@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 500;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #fff;
  width: 35vw;
  min-height: 20vh;
  border-radius: 5px;
  padding: 1.5vw 1vw;
}
.qn{
    display: none;
}
.container h1 {
  color: #001e4d;
  border-bottom: 1px solid #000;
}
.quiz h3 {
  color: #001e4d;
  padding: 1vw 0;
}
.answers {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.answers button {
  background-color: #fff;
  border: 0.5px solid #000;
  color: #001e4d;
  text-align: left;
  padding: 0.5vw;
  border-radius: 5px;
  transition: all 0.3s;
}
.answers button:hover:not([disabled]) {
  background-color: #dfdcdc;
  color: #000;
  cursor: pointer;
}
#nextBtn {
  background-color: #302b63;
  color: #fff;
  border: none;
  padding: 0.4vw 2vw;
  border-radius: 5px;
  margin-top: 1vw;
  font-size: 1vw;
  display: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  .container {
    width: 35vh;
    padding: 1.5vw 1vw;
  }
  .container h1 {
    font-size: 5vh;
    color: #001e4d;
    border-bottom: 1px solid #000;
  }
  .answers {
    gap: 5vw;
  }
  .answers button {
    padding: 2vw;
  }
  #nextBtn {
    background-color: #302b63;
    color: #fff;
    border: none;
    padding: 2.5vw 8vw;
    border-radius: 5px;
    margin-top: 5vw;
    font-size: 3vw;
    display: none;
    cursor: pointer;
  }
}
